@font-face {
    font-family: 'tehran';
    src: url('./res/B\ Tehran_0.ttf');
}

#baaq-container .lyric {
    color: #333;
    font-family: monospace;
    display: inline-block;
    padding: 0px 10px;
    font-size: 8vw;
    border-radius: 5px;
    font-family: 'tehran';
    background: #f3f3f3;
}
#baaq-container {
    direction: rtl;
    display: flex;
    justify-content: center;
}

#mon2 .lyric {
    transition: 0.3s;
    transform: translateX(-50%);
}
#mon2 .lyric.active {
    font-size: 2vw;
    text-indent: 10px;
    font-weight: bold;
    transform: translateX(0);
    /* background: rgba(53, 140, 171, 0.393); */
}

@keyframes LrcLyricIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}
@keyframes baaqIn {
    from {
        opacity: 0.5;
        color: #194d2d;
        transform: translateY(-50%);
    }
    to{
        opacity: 1;
        color: #333;

    }
}
@keyframes LrcLyricOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}