* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background: linear-gradient(to bottom left, rgb(203, 218, 163), rgb(221, 231, 194));
}
body::-webkit-scrollbar {
    display: none;
}
#a {
    color: #439CD6;
}
#b {
    color: #D0DC9D;
}
#c {
    color: #dd00da;
}
#e {
    color: #dc8316;
}
#f {
    color: #4FC1FF;
}
#g {
    color: #DBD700;
}


section {
    position: relative;
    width: 94vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4vh 1vw;
    top: 2vh;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
}

section div.triple {
    position: relative;
    width: 31%;
    height: 90vh;
    border-radius: 2vh;
}


section .console {
    position: relative;
    border: 0.9vh solid #3c491b;
    box-shadow: -0.9vh 0.9vh 0px 0vh #3c491b;
    overflow: hidden;
    background: #4e5342;
}
.console .const {
    position: relative;
    top: 2%;
    left: 7%;
}
.console .const p {
    display: inline;
    font-size: 2vh;
    margin-left: auto;
    margin-right: auto;
    white-space: pre;
    font-family: monospace;
}
.console .function-board {
    position: relative;
    width: 97%;
    height: 42%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: 0vh;
    border-radius: 0.6vh;
    left: 50%;
    top: 5%;
    padding-bottom: 1.3vh;
    border: 1px solid #33333395;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.1);
}
.console .function-board::-webkit-scrollbar {
    display: none;
}
.console .function-board span {
    width: 94%;
    height: 15%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    user-select: none;
    padding-left: 0.9vh;
    border-radius: 0.7vh;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    box-shadow: 0 0.4vh 0 0 #f3f3f3;
    -webkit-tap-highlight-color: transparent;
    margin-top: 1.3vh;
    transition: 0.15s;
    background: #000;
}
.console .function-board span::-webkit-scrollbar {
    display: none;
}
.console .function-board span:active {
    box-shadow: 0 1px 0 0 #f3f3f3;
    transform: translateY(0.4vh);
}

.console .function-board span p {
    font-family: monospace;
    font-size: 1.6vh;
    white-space: pre;
}
.console .cmd-board {
    position: absolute;
    width: 97%;
    height: 42%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1%;
    border-radius: 0.6vh;
    background: #000;
}
.console .cmd-board::-webkit-scrollbar {
    display: none;
}
.console .cmd-board span {
    min-width: 100%;
    width: auto;
    height: 7%;
    display: inline-block;
    white-space: nowrap;
    font-family: monospace;
    font-size: 1.5vh;
    padding-left: 2%;
    text-justify: center;
    color: #2bce1c;
}


section .static {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.static .top, .static .bottom {
    width: 100%;
    height: 49%;
    overflow: hidden;
    border: 0.9vh solid #add838;
    box-shadow: 0.9vh 0.9vh 0px 0vh #556625;
    border-radius: 2vh;
}
.static .top {
    height: 59%;
}
.top .intro {
    position: relative;
    width: 100%;
    height: 26%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    background: #add838;
}
.intro .song-info {
    height: 59%;
}
.top #lyrica-container2 {
    position: relative;
    width: 100%;
    height: 74%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 3vh;
    box-shadow: 0 0 0.9vh -0.4vh #333 inset;
    border-radius: 0.5vh 0.5vh 1vh 1vh;
}
.top #lyrica-container2::-webkit-scrollbar {
    width: 0.9vh;
}  
.top #lyrica-container2::-webkit-scrollbar-track {
    background-color: transparent;
    border: 0.3vh solid rgba(126, 126, 126, 0.3);
    border-radius: 0.5vh;
}
.top #lyrica-container2:hover::-webkit-scrollbar-track {
    border: 0.3vh solid rgba(126, 126, 126, 0.8);
}
.top #lyrica-container2::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid rgba(97, 97, 97, 0.3);
    border-radius: 0.5vh;
}
.top #lyrica-container2:hover::-webkit-scrollbar-thumb {
    border: 2px solid rgba(97, 97, 97, 0.8);
}

.top #lyrica-container2 .lyric {
    position: relative;
    height: auto;
    display: block;
    text-align: center;
    font-size: 2.1vh;
    font-family: monospace;
    padding: 1vh 2vh;
    margin-top: 0.6vh;
    margin-bottom: 0.6vh;
    border-radius: 0.8vh;
    background: rgba(79, 147, 69, 0.2);
}
.top #lyrica-container2 .lyric:first-child {
    margin-top: 6vh;
}
.top #lyrica-container2 .lyric:last-child {
    margin-bottom: 6vh;
}
.top #lyrica-container2 .lyric p {
    opacity: 0.5;
    white-space: pre;
    display: inline-flex;
    justify-content: center;
    transition: 0.1s;
}
.top #lyrica-container2 .lyric p.active {
    opacity: 1;
}

.top #lyrica-container2 #load {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.6vh;
    font-family: monospace;
    padding: 1vh 1vh;
    cursor: pointer;
    border: 2px solid #add838;
    border-radius: 0.6vh;
    background: transparent;
}

.static .bottom {
    height: 39%;
    background: transparent;
}


section .audio {
    border: 0.9vh solid #add838;
    box-shadow: 0vh 0.4vh 0px 0.5vh #556625;
    overflow: hidden;
}
.audio .controls {
    width: 100%;
    height: 23%;
    min-height: 20px;
    padding-bottom: 0.3vh;
    background: #add838;
}

.song-info {
    position: relative;
    width: 100%;
    height: 41%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
}
.song-info .cover {
    position: relative;
    height: 95%;
    aspect-ratio: 1 / 1;
    display: flex;
}
.song-info .cover img {
    width: 100%;
    border-radius: 0.9vh;
}
.song-info .info {
    position: relative;
    height: 75%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: start;
    margin-left: 5%;
}
.song-info .info p {
    width: auto;
    min-width: 52%;
    font-family: monospace;
    font-size: 2.3vh;
}
.song-info .info p.artist {
    font-size: 1.7vh;
    text-indent: 0.3vh;
    opacity: 0.6;
}
.song-info .link {
    position: absolute;
    height: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
    cursor: pointer;
    border-radius: 0.5vh;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.1);
}
.song-info .link:hover {
    background: rgba(0, 0, 0, 0.3);
}
.song-info .link img {
    height: 60%;
    transition: 0.3s;
    filter: brightness(0) saturate(100%) invert(45%) sepia(40%) saturate(756%) hue-rotate(35deg) brightness(92%) contrast(84%);
}
.song-info .link:hover img {
    filter: brightness(0) saturate(100%) invert(87%) sepia(60%) saturate(563%) hue-rotate(17deg) brightness(87%) contrast(93%);
}

.audio .controls audio {
        width: 100%;
        height: 29%;
}
.audio .controls audio::-webkit-media-controls-panel {
    border: none;
    background: #add838;
}
.audio .controls audio::-webkit-media-controls-enclosure {
    border-radius: 0;
    background: transparent;
}
.audio .controls .control-options {
    position: relative;
    width: 100%;
    height: 29%;
    display: flex;
    background: transparent;
}
.audio .controls .control-options span {
    width: 17%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: monospace;
    font-size: 1.6vh;
    user-select: none;
    cursor: pointer;
    margin-left: 1%;
    border-radius: 0.5vh;
    transition: 0.15s;
    background: rgba(15, 97, 31, 0.05);
}
.audio .controls .control-options span:hover {
    background: rgba(15, 97, 31, 0.08);
}
.audio .controls .control-options span:active {
    cursor: default;
    transform: scale(0.9);
}
.audio .controls .control-options p.name {
    position: absolute;
    height: 80%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00b7ef;
    font-family: monospace;
    font-size: 1.6vh;
    right: 6%;
    text-shadow: 1px 2px 0px #333;
}

.audio .lyrica-container {
    position: relative;
    width: 100%;
    height: 88%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 0.9vh -0.4vh #333 inset;
    border-radius: 0.5vh 0.5vh 1vh 1vh;
    background: transparent;
}
.audio .lyrica-container::-webkit-scrollbar {
    display: none;
}
.audio .lyrica-container .lyric {
    width: 80%;
    margin-top: 3vh;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.7vh;
    cursor: pointer;
    white-space: pre;
    font-family: monospace;
    transition: 0.1s;
}
.audio .lyrica-container .lyric.active {
    font-weight: bold;
    opacity: 1;
    font-size: 2.3vh;
}

@media screen and (max-width: 1100px) and (min-width: 530px) {
    section {
        width: 98vw;
        top: 0;
        padding-top: 2vh;
    }
    section .console, section .audio {
        height: 76vh !important;
        width: 47% !important;
    }
    section .static {
        width: 94vw !important;
        height: 46vw !important;
        align-content: center;
        justify-content: space-between;
        margin-top: 3.1vw;
    }
    .static .top, .static .bottom {
        height: 100%;
        width: 49%;
        box-shadow: 0vh 0.4vh 0px 0.5vh #556625;
    }

    .console .const p {
        font-size: 2vw !important;
    }
}
@media screen and (max-width: 530px) {
    section {
        width: 100vw;
        top: 0;
        padding-top: 0;
    }
    section .audio {
        order: -1;
        margin-top: 1vw !important;
    }
    section .console, section .audio, section .static {
        width: 98% !important;
        height: 77vh !important;
        margin-top: 3vh;
    }
    section .console {
        box-shadow: 0vh 0.9vh 0px 0vh #3c491b;
    }
    .static .top, .static .bottom {
        box-shadow: 0vh 0.4vh 0px 0.5vh #556625;
    }
}